@import '../styles/colors.scss';

.navlink {
  border: solid 1px #d7d7d7;
  border-radius: 0.2rem;
  color: #7d7d7d;
  background: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
}

.homepage {
  padding: 1.5rem 3.2rem;
}

body.light-mode {
  background-color: $bg;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #212121;
  color: #999;
  transition: background-color 0.3s ease;
}

.dark-mode blockquote {
  color: #999;
  border-left: 0.32813rem solid #999;
}
