.box {
  background-color: white;
  padding: 1.5em;
  border-radius: 4px;
}

.flex {
  display: flex;
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.time {
  color: #7a7a7a;
  font-size: 0.85rem;
  margin-bottom: 0.1rem;
}

.text {
  margin-left: 0.5rem;
}
